

#navbar{
    opacity: 80%;
    transition: top 0.5s;
}

.navbar-brand{
    font-family: monospace;
    color: #217600;
}

.nav-item{
    font-family: monospace;
}

/* ¡Hoy, Ahora y Siempre... Colegio! */
.verde-colegial{ 
    color:#217600;
}

.green-android{
    color: #32DE84;
}

.divider{
    height: 0.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.uprm-web-logo{
    height: 59px;
    width: 193px;
}

.youth-committe-logo{
    height: 100px;
}

.rumblebots-logo{
    height: 100px;
}

.logo-card-header{
    background-color: white; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.center-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.carousel-project {
   height: 650px;
  }


.carousel-certificate{
    height: 495px;
}

.color-linkedin-blue{
    color: #0077B5;
}

.color-raisin-black{
    color: #211F1F;
}